@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
img{
	padding:0px;
}
li{
	list-style:none;
	}
a{
	text-decoration:none;
	}
body{
	font-family:"微软雅黑";
	font-size:14px;
	color:#333;
	}
#top{
	height:40px;

}
#nav{
	height:38px;
	background-image:url(../image/05_03.png);
}
.nav_inner{
	width:1100px;
	margin:0 auto;
}
#nav ul{
	float:left;
}
#nav ul li{
	float:left;
	
}

#nav ul li a{
	color:#FFF;
	display:block;
	padding-left:20px;
	padding-right:20px;
	line-height:38px;
	background-image:url(../image/nav_2_03.png);
	background-repeat:no-repeat;
	
}

#nav ul li .active{
	color:#FF0;
	display:block;
	padding-left:20px;
	padding-right:20px;
	line-height:38px;
	background-image:url(../image/nav_2_03.png);
	background-repeat:no-repeat;
	
}
#nav ul li .sy{
	background-image:none;
	
}

#nav ul li a:hover{
	display:block;
	padding-left:20px;
	padding-right:20px;
	color:#FF0;
	
}
.clear{
	clear:both;
}
#main .qb{
	padding-top:30px;
	padding-bottom:20px;
	font-size:18px;
	width:1100px;
	margin:0 auto;
	
	}
#main .qb a{
	color:#333;
	}
#main .qb a:hover{
	color:#FF0004;
	
	}

.chanp_inner{
	width:1100px;
	margin:0 auto;
}
.cp_left{
	width:200px;
	float:left;
}

.cp_l{
	width:198px;
	height:298px;
	border:#b2bec3 solid 1px;
	float:left;
	line-height:298px;
	text-align:center;
	font-size:18px;
	color:#333;
}
.cp_l a{
	color:#333;
}
.cp_l a:hover{
	color:#FF0004;
}
.cp_l_2{
	width:198px;
	height:298px;
	border-left:#b2bec3 solid 1px;
	border-right:#b2bec3 solid 1px;
	border-bottom:#b2bec3 solid 1px;
	float:left;
	line-height:298px;
	text-align:center;
	font-size:18px;
	color:#333;
}
.cp_l_2 a{
	color:#333;
}
.cp_l_2 a:hover{
	color:#FF0004;
}
.cp_right{
	width:900px;
	float:right;

}
.right_top{
	width:900px;
	height:400px;

}

.top_l {
	padding-left:20px;
	height:400px;
	width:400px;
	float:left;

}
.top_r {
	width:460px;
	padding-top:20px;
	padding-left:20px;
	float:right;

}
.top_r h3{
	font-size:18px;
	color:#333px;
	font-weight:normal;

}
.top_r h5{
	padding-top:10px;
	font-size:12px;
	color:#666px;
	font-weight:normal;

}
.top_r p{
	padding-top:50px;
	font-size:14px;
	color:#333px;
	line-height:22px;

}
.wenzhang{
	padding-left:20px;
	padding-top:30px;
}
#bot{
	height:80px;
	background-color:#4d636f;
	margin-top:70px;
	
}
.bot_inner{
	height:80px;
	width:1100px;
	margin:0 auto;
	
}
.bot_inner p{
	font-size:12px;
	color:#FFF;
	line-height:22px;
	padding-top:25px;
}